<!DOCTYPE html>
<html>

<body>

  <% if @side.content_type == 'ruby' %>
    <pre><%= rouge(@side.content)%></pre>
  <% else %>
    <p><%= @side.content %></p>
  <% end %>

  <% unless @next_side.nil? %>
    <a href="/side/<%= @next_side.id %>">
      Next
    </a>
  <% end %>

</body>

</html>
