<!DOCTYPE html>
<html>

<body>

  <h2>Flashcards</h2>

  <table style="width:100%">
    <tr>
      <th>id</th>
      <th>Side</th> 
    </tr>
    <% @res.each do |item| %>
      <tr>
        <td><%= item.id %></td>
        <td><%= item.text %></td>
      </tr>
    <% end %>
  </table>

</body>

</html>
